<div class="row g-4 my-4">
<div class="col-12 col-md-6">
<div class="card bg-body-tertiary border-primary border-opacity-25 p-4">
<h5 class="text-primary mb-3"><i class="bi bi-controller me-2"></i>Gameplay</h5>
<ul class="list-unstyled text-muted mb-0">
{% include "partials/gameplay-bullets.njk" %}
</ul>
</div>
</div>
<div class="col-12 col-md-6">
<div class="card bg-body-tertiary border-secondary border-opacity-25 p-4">
<h5 class="text-secondary mb-3"><i class="bi bi-people-fill me-2"></i>Collaboration</h5>
<ul class="list-unstyled text-muted mb-0">
{% include "partials/collaboration-bullets.njk" %}
</ul>
</div>
</div>
</div>
