<section class="mt-5 mb-3">
<div>
<h2 class="text-secondary mb-1">Latest from the Dev Blog</h2>
<p class="text-muted mb-4">Follow our journey as we build Tech World.</p>
{% set type = "preview" %}
{% include "partials/postsList.njk" %}
</div>
</section>